services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-cloud-sentry-php
    restart: unless-stopped
    expose:
      - "9000"

  nginx:
    image: nginx:1.27-alpine
    container_name: php-cloud-sentry-nginx
    depends_on:
      - php
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
